.largeboldedyellow {
  color: #FFC72C;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.smallboldedyellow {
  color: #FFC72C;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.center {
  margin: auto;
  text-align: center;
  width: 50%;
  //border: 3px solid green;
  padding: 10px;
}

.lrspacing {
//   display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
