<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 50px;">History</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <label for="workingHoursInput">Please input your desire total working hours within this month:</label>
  <input type="number" id="workingHoursInput" (input)="onInputChange($event)">
</div>


<ion-content>
  <ion-card>
    <ion-card-content>
      <div style="text-align:center;font-size:36px;margin-bottom:20px;">February</div>
      <div style="border-bottom: 2px solid black; margin-bottom:20px;"></div>
      <div style="text-align:center;">Workout time planned (in minutes)</div>
      <div class="calendar" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day-name" style="width:30px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Sun</div>
        <div class="day-name" style="width: 35px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Mon</div>
        <div class="day-name" style="width: 30px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Tue</div>
        <div class="day-name" style="width: 35px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Wed</div>
        <div class="day-name" style="width: 30px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Thu</div>
        <div class="day-name" style="width: 30px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Fri</div>
        <div class="day-name" style="width: 30px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Sat</div>
      </div>
      <div class="calendar1" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day" style="width: 30px;height: 30px;font-size:25px;margin: 10px;">-</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">-</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">-</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">-</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
      </div>
      <div class="calendar1" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day" style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
      </div>
      <div class="calendar1" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day" style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
      </div>
      <div class="calendar1" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day" style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
      </div>
      <div class="calendar1" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day" style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
      </div>
      <p>If you finished this workout plan, please enter how many days you kept your plan</p>
      <ion-item>
        <ion-checkbox
          style="background: white; border: 1px solid black; border-radius: 3px; width: 20px; height: 20px; position: relative;">
          <ion-icon name="checkmark"
            style="position: absolute; top: -2px; left: -1px; font-size: 20px; color: black;"></ion-icon>
        </ion-checkbox>
      </ion-item>
      <p>Previous Workouts:</p>
      <ion-list>
        <ion-item>
          <ion-label>Workout 1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Workout 2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Workout 3</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>



