<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 50px;">History</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <label for="workingHoursInput">Please input your desire total working hours within this month:</label>
  <input type="number" id="workingHoursInput" (input)="onInputChange($event)">
</div>


<ion-content>
  <ion-card>
    <ion-card-content>
      <div style="text-align:center;font-size:36px;margin-bottom:20px;">March</div>
      <div style="border-bottom: 2px solid black; margin-bottom:20px;"></div>
      <div style="text-align:center;">Workout time planned (in minutes)</div>
      <div class="calendar" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day-name" style="width:30px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Sun</div>
        <div class="day-name" style="width: 35px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Mon</div>
        <div class="day-name" style="width: 30px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Tue</div>
        <div class="day-name" style="width: 35px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Wed</div>
        <div class="day-name" style="width: 30px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Thu</div>
        <div class="day-name" style="width: 30px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Fri</div>
        <div class="day-name" style="width: 30px;
        height: 30px;font-size:16px;
        color: rgb(184, 29, 29);
        margin: 10px;">Sat</div>
      </div>
      <div class="calendar1" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day" style="width: 30px;height: 30px;font-size:25px;margin: 10px;">-</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">-</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">-</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">-</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
      </div>
      <div class="calendar1" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day" style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;6">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
      </div>
      <div class="calendar1" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day" style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
      </div>
      <div class="calendar1" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day" style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
      </div>
      <div class="calendar1" style="display: flex;flex-wrap: nowrap;align-items: center; ">
        <div class="day" style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 35px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
        <div class="day"style="width: 30px;height: 30px;font-size:25px;margin: 10px;">{{myVariable}}</div>
      </div>
      <p style="color:red">After you finished this workout plan, please click the "checkin" button below to enter your workout details</p>
      <ion-item>
        <ion-button (click)="changePage()"
          style="background: white; border: 1px solid black; border-radius: 3px; height: 30px; position: relative;">
          Checkin
        </ion-button>
      </ion-item>
      <p>Previous Workouts:</p>
      <ion-list>
        <ion-item>
          <ion-label>Exercise: {{Exercise}},{{Duration}} hours total,rating given: {{Rating}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Exercise: {{Exercise1}},{{Duration1}} hours total,rating given: {{Rating1}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Exercise: {{Exercise2}},{{Duration2}} hours total,rating given: {{Rating2}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>



