<ion-header>
  <ion-toolbar>
    <ion-title>questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id = "container">
    <div class="profileText">
        <p style="color: #FFC72C; font-size: 25px; margin-bottom: 20px;">Profile</p>
    </div>

    <!-- form usage: https://www.w3schools.com/html/html_forms.asp -->
    <form> <!-- replace with actual file name -->
      <p><label for="goal">Exercise Goal:</label></p>
      <textarea input [(ngModel)]="goalCategory" id="goal" name="goal" rows="4" cols="50"></textarea>

      <br><br>
      <p><label for="muscles">Muscle Focus:</label></p>
      <div class="ion-text-center">
        <ion-list>
          <ion-item>
            <ion-select placeholder="Select muscle groups that apply" (ionChange) = "selectionMade($event)" [multiple]="true">
              <ion-select-option [value]="muscle" *ngFor = "let muscle of muscles">{{muscle}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>

      <br><button class="btn" (click)="onQuestionsClick()" type="submit">Submit</button>
    </form>
  </div>
</ion-content>
